# ide preferences
.idea/
nbproject/
.vscode/

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor
# cubrid install dir
/cubrid

# composer itself is not needed
composer.phar

# composer.lock in applications is ignored since it's automatically created by composer when application is installed
/apps/*/composer.lock

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# ignore sub directory for dev installed apps and extensions
/apps
/extensions

# compressed files used for publishing are not needed
*.zip
*.7zip
*.7z
*.xz
*.rar

# rendered documents
*.pdf

controllers/DemoController.php

/backups
