<?php

return [
    'app' => [
        'name' => 'VACH',
        'moto' => 'Herramienta de integración de equipos',
        'sponsor' => 'Fundación Empowerment',
    ],
    'allow_register' => false,
    'adminEmail' => 'admin@example.com',
    'senderEmail' => 'sender@example.com',
    'minimal_consciousness' => 4 / 3,
    'good_consciousness' => 4 * 2 / 3,
    'server_status' => 'online',
    'send_wheel_answers' => false,
    'user.passwordResetTokenExpire' => 3600,
    //
    'monetize' => true,
    'manual_mode' => false,
    'default_product_id' => 1,
    'default_quantity' => 10,
    'part1_name' => 'Part 1',
    'part2_name' => 'Part 2',
    'report_autofill_users' => [],
    //
    'payu' => [
        'test' => true,
        'merchant_id' => 508029,
        'account_id' => 512322,
        'api_key' => '4Vj8eK4rloUd272L48hsrarnUA',
        'tax' => '0',
        'tax_return_base' => '0',
        'currency' => 'USD',
        'action_url' => 'https://sandbox.gateway.payulatam.com/ppp-web-gateway',
        'response_url' => 'http://**********:8080/vach/web/index.php?r=payment%2Fresponse',
        'confirmation_url' => 'http://**********:8080/vach/web/index.php?r=payment%2Fconfirmation',
        'payment_confirmation_wait' => 10 * 60,
    ],
    'paypal' => [
        "CLIENT_ID" => "**************",
        "CLIENT_SECRET" => "**************",
        "api_url" => "https://api-m.sandbox.paypal.com",
        "web_url" => "https://www.sandbox.paypal.com",
    ],
];
